@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container" ng-controller="messageController">
    <div class="jumbotron">
        <h3>Welcome, Let's flock together</h3>
    </div>
    <div ng-repeat="message in messages">
        <div class="row-fluid">
            <div class="span4">{{message.createDateTime}}</div><div class="span4 offset4">{{message.createUserId}}</div>
        </div>
        <div class="row-fluid">
            <div class="span8">{{message.message}} </div>
        </div>
        <hr />
    </div>
</div>