@model dynamic
@{
    ViewBag.Title = "Let's flock";
    Layout = "../Shared/_Layout.cshtml";
}
<link href="~/Content/FlockApplication.css" rel="stylesheet" />
<div>
    
    <ng-include src="'JSApplication/Templates/userPage.html'"></ng-include>
</div>
