@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please Register</h2>


<div>
    <div ng-controller="registrationController">
        <input type="text" ng-model="firstName" />
    </div>
</div>
