<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="FlockContext" connectionString="metadata=res://*/EntityFramework.FlockModel.csdl|res://*/EntityFramework.FlockModel.ssdl|res://*/EntityFramework.FlockModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Flock;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>