<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/imgareaselect-animated.css" rel="stylesheet" />
    <link href="../../Content/imgareaselect-default.css" rel="stylesheet" />
    <link href="../../Content/imgareaselect-deprecated.css" rel="stylesheet" />

    <script src="../../Scripts/jquery.min.js"></script>
    <script src="../../Scripts/jquery.imgareaselect.min.js"></script>
    <link href="../../Content/FlockApplication.css" rel="stylesheet" />
</head>
<body>
    <div id="aboutModal" class="modal hide fade" style="margin-left: -32%; margin-top: -7px; width: 795px; height: 570px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">

        <div class="container-fluid">
            <!-- About Header -->
            <div class="row-fluid">
                <h3 class="header-bg font-20 line-30">About Flock</h3>
            </div>
            <!-- About text -->
            <div class="row-fluid">
                <label>
                    Flock is micro blogging application.<br />
                    It's informal! It's fun!
                    <br /> So let's start playing, oops Flocking!
                </label>
            </div>

            <!-- Contributors -->
            <div class="row-fluid">
                <h5 class="header-bg line-30">Contributors for Flock Development Version 1.0</h5>
            </div>
            <div class="row-fluid rowbottompadding">

                <div class="pull-left text-middle">
                    <div class="media">
                        <img class="media-object aboutImgSize pull-left img-rounded" src="../../Content/images/ContributorsPicz/kotaru.jpg" alt="" />
                        <div class="media-body">
                            <h6 class="media-heading text-success">Keerthi Kotaru</h6>
                        </div>
                    </div>
                </div>
                <div class="pull-left text-middle">
                    <div class="media">
                        <img class="media-object aboutImgSize pull-left img-rounded" src="../../Content/images/ContributorsPicz/nishant.jpg" alt="" />
                        <div class="media-body">
                            <h6 class="media-heading text-success">Nishanth Kabra</h6>
                        </div>
                    </div>
                </div>
                <div class="pull-left text-middle">
                    <div class="media">
                        <img class="media-object aboutImgSize pull-left img-rounded" src="../../Content/images/ContributorsPicz/sandeep.jpg" alt="" />
                        <div class="media-body">
                            <h6 class="media-heading text-success">Sandeep Pulikallu</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid rowbottompadding">
                <div class="pull-left text-middle">
                    <div class="media">

                        <img class="media-object aboutImgSize pull-left img-rounded" src="../../Content/images/ContributorsPicz/srini.jpg" alt="" />
                        <div class="media-body">
                            <h6 class="media-heading text-success">Srinivas Paila</h6>
                        </div>
                    </div>
                </div>
                <div class="pull-left text-middle">
                    <div class="media">
                        <img class="media-object aboutImgSize pull-left img-rounded" src="../../Content/images/ContributorsPicz/shashanka.jpg" alt="" />
                        <div class="media-body">
                            <h6 class="media-heading text-success">Shashank Avusali</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <h5 class="header-bg line-30">Special Thanks To</h5>

                <div class="row-fluid rowbottompadding">
                    <div class="pull-left text-middle">
                        <div class="media">
                            <img class="media-object aboutImgSize pull-left img-rounded" src="../../Content/images/ContributorsPicz/harshaV.jpg" alt="" />
                            <div class="media-body">
                                <h6 class="media-heading text-success">Vanamali Sree Harsha</h6>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left text-middle">
                        <div class="media">
                            <img class="media-object aboutImgSize pull-left img-rounded" src="../../Content/images/ContributorsPicz/niranjan.jpg" alt="" />
                            <div class="media-body">
                                <h6 class="media-heading text-success">Niranjan Reddy Arikela</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="text-left pull-left" style="background: none;">
                        <label>Wanna contribute to Flock? </label>
                        Follow Us <a href="https://github.com/kvkirthy/Flock.git">@GitHub</a>
                    </div>
                    <button id="close" class="btn btn-small btn-primary pull-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>


            </div>
        </div>
    </div>
</body>
</html>

