    <div id="aboutModal" class="modal hide fade" style="margin-left: -32%; margin-top: -70px; width: 795px; height: 870px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">

        <div class="container-fluid">
            <!-- About Header -->
            <div class="row-fluid">
                <h4 class="font-20 line-30" style="text-decoration:underline">About Flock<button id="close" class="btn btn-small pull-right" data-dismiss="modal" aria-hidden="true">X</button></h4>
                
            </div>
            <!-- About text -->
            <div class="row-fluid">
                <label>
                    Flock is micro blogging application. It's informal! It's fun! So let's start playing, oops Flocking!                    
            </label>
                <label>
                    Wanna contribute to Flock? Follow us <a href="https://github.com/kvkirthy/Flock.git">@GitHub</a>                
                </label>
        </div>

            <!-- Contributors -->
            <div class="row-fluid">
                <h5 class="line-30">Contributors for Flock Development Version 1.0</h5>
            </div>
            <div class="row-fluid rowbottompadding" style="overflow: auto;">
                <center>
                    <img src="/content/images/AboutPageLong.jpg" />         
                </center>
                
            </div>
            </div>
        </div>
    </div>
