
    <div id="changeProfilePictureModel" ng-controller="uploadProfileImageController" class="modal hide fade" style="margin-left: -33%; margin-top: -7px; height: 450px !important; width: 810px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h3 id="myPictureModalLabel">Change Profile Photo</h3>
            <button id="closePictureModal" class="btn pull-right" style="margin-left:3px;" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="savePictureModal" class="btn btn-primary pull-right"  style="margin-left:3px;" data-dismiss="modal"  ng-show="showPictureSave" ng-click="saveProfileImage()">Save</button><br/>  <br/>
            <div style="height:40px; ">
            <label class="control-label alert-block alert-error"  ng-show="showPictureModalErrorMessage">&nbsp;Upload Failed - Picture size should be Min(64 X 64 px) Max(400 X 400 px)</label>
                </div>
            <br/>
        </div>
        <div style="height: 400px !important;">
            <div style="margin-left: 155px; margin-right: 14px;">
                <div>
                    <div class="control-group">
                        <div>
                            <label class="control-label text-info">&nbsp;Upload Picture - Size Min(64 X 64 px) Max(400 X 400 px)</label>
                        </div>
                        <img id="uplodedProfilePic" ng-src="{{profilePicImageSource}}" style="height:160px; width:160px; border-color:black ; border-width:2px;  "  />
                        <div>
                            <input type="file" name="file" id="imgUploadProfilePic"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

