<script src="../Controllers/userPageController.js"></script>
<div ng-controller="userPageController">


    <div class="container">
        <div class="span8">
            <hr />
            Flock 
        <hr />
            <hr />
            USER INFORMATION<br />
            Includes - Profile Picture, Username , Firstname, Lastname<br />
            Quacks | Trends | Following | Followers | Preferences 
        <hr />
            <div>
                <textarea class="span8" style="resize: none" placeholder="Your Quack..." rows="2" maxlength="140"></textarea>
            </div>
            <hr />
            <hr />
            <a style="text-decoration: none" href="#">PARENT QUACK<br />
                Quack-Message - PROFILE PIC + Message - Timeframe<br />
                <span class="span5"></span>Reply | Shout | Cheers, Like it<br />
                Expand
                <hr />
                SHOUTS | LIKES | users information
            </a>
            <hr />
                Quack-Message - PROFILE PIC + Message - Timeframe<br />
                <span class="span5"></span>Reply | Shout | Cheers, Like it<br />
                Expand
            <hr />
                Quack-Message - PROFILE PIC + Message - Timeframe<br />
                <span class="span5"></span>Reply | Shout | Cheers, Like it<br />
                Expand
            <hr />
                Quack-Message - PROFILE PIC + Message - Timeframe<br />
                <span class="span5"></span>Reply | Shout | Cheers, Like it<br />
                Expand
            <hr />
                Quack-Message - PROFILE PIC + Message - Timeframe<br />
                <span class="span5"></span>Reply | Shout | Cheers, Like it<br />
                Expand
            <hr />
            <hr />
            <hr />
        </div>
    </div>
</div>


