<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/imgareaselect-animated.css" rel="stylesheet" />
    <link href="../../Content/imgareaselect-default.css" rel="stylesheet" />
    <link href="../../Content/imgareaselect-deprecated.css" rel="stylesheet" />

    <script src="../../Scripts/jquery.min.js"></script>
    <script src="../../Scripts/jquery.imgareaselect.min.js"></script>
    <link href="../../Content/FlockApplication.css" rel="stylesheet" />
    <script src="../Controllers/userPageController.js"></script>
    <script type="text/javascript ">

        $(document).ready(function () {
            $('#uplodedPic').imgAreaSelect({
                handles: true,
                resizable: true
               
            });


            function readURL(input) {
                var a = input;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img').val(e.target.result);
                        $('#uplodedPic').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgProfilePic").change(function () {
                readURL(this);
            });
        });
    </script>

</head>
<body>
    <div class="center" ng-controller="userPageController">
        {{userPreferences}}
        
        Picture Upload
        <hr />
        <hr />
        <!--Upload File--->
        <div>
            <div class="control-group">
                <div>
                    <label class="control-label">&nbsp;Upload Picture</label>
                </div>
                <img id="uplodedPic" src="../../Content/images/profilePicCover.gif" />
                <div>
                    <input type="file" name="file" id="imgProfilePic" />

                </div>
            </div>
            <div>
                <input id="img" type="text" ng-model="image"/>
                <button  id="Text1" ng-click="click()"> Click </button>
            </div>
        </div>

    </div>
</body>
</html>
