<div ng-controller="userPageController">

    <div class="container">

        <!--Flock Page header bar-->
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container" style="width: auto;">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a class="brand active" href="#" onclick="location.reload();">Flock</a></li>
                        </ul>

                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <li><a href="#"><i class="icon-user icon-white"></i></a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Body center-->
        <div class="center">

            <!--User Information-->
            <div class="well span8">
                <h4>{{userName}} </h4>
                <img id="userCoverPic"/>
                <br />
                <span><a class="pull-right" href="#changePictureModel" style="font-size: 11px" data-toggle="modal" data-backdrop="false">Change Cover</a></span>
                <br />

            </div>

            <div class="center1">
                <div ng-controller="autoUpdateUserTagsController">
                    <img id="userCoverPic" ng-src=""/>
                    <textarea class="span6" style="margin-top: 8px;" ng-model="quackText" style="resize: none" placeholder="Your Quack..." rows="3" maxlength="140" on-enter="saveQuack()"></textarea>
                    <div style="margin-top: -11px"><a href="#" style="font-size: 11px">&nbsp;change pic</a></div>
                    <div auto-update-user-tags="quackText" list-of-users="users"></div>
                </div>
                <br />
            </div>
            <div class="span1"></div>
            <div class="span7"></div>

            <div class="center">
                <div class="span7">
                    <a style="text-decoration: none" href="#">
                        <br />
                        PARENT QUACK<br />
                        Quack-Message - PROFILE PIC + Message - Timeframe<br />
                        <span class="span4"></span>Reply | Shout | Cheers, Like it<br />
                        Expand
                        <hr />
                        SHOUTS | LIKES | users information
                    </a>
                    <hr />
                    Quack-Message - PROFILE PIC + Message - Timeframe<br />
                    <span class="span4"></span>Reply | Shout | Cheers, Like it<br />
                    Expand
                    <hr />
                    Quack-Message - PROFILE PIC + Message - Timeframe<br />
                    <span class="span4"></span>Reply | Shout | Cheers, Like it<br />
                    Expand
                    <hr />
                    Quack-Message - PROFILE PIC + Message - Timeframe<br />
                    <span class="span4"></span>Reply | Shout | Cheers, Like it<br />
                    Expand
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'JSApplication/Templates/changePhoto.html'"></ng-include>
</div>


