<div style="background-image:url('../../Content/images/Black_texture.jpg')">
    <!--Header Section-->
    <div style="height: 155px; background-image:url('../../Content/images/title-bg.jpg')">
    </div>    
    
        <div class="container">
            <!--Cover Pic Section-->
            <div class="span9" style="background: white; margin-top: -125px; border-top-width: 2px; border-color: dimgray; border-left-width: 2px; border-right-width: 2px; border-bottom-color: white">                
                <br/>                
                <div class="span8 container" ng-controller="userProfileController">
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li><a class="brand active" href="">Flock</a></li>                                    
                                </ul>                                
                            </div>                            
                        </div>
                        <div>
                            <div id="userProfile">
                                <img id="userCoverImage" ng-src="{{userProfile.CoverImage}} " />
                            </div>
                        </div> 
                        <br/>                       
                        <div class="span2">
                            <img class="media-object img200200" style="box-shadow: 6px 6px 1px #888888;" ng-src="{{userProfile.ProfileImage}}" />                            
                        </div>                        
                        <div class="span4 pull-center"><strong>{{userProfile.FirstName}} {{userProfile.LastName}}</strong></div>
                        <div class="span4 pull-center">{{userProfile.EmailId}}</div>
                        <div class="span4 pull-center"><hr /></div>
                        <div class="span4 pull-center">{{userProfile.Project || 'Project information unavailable'}}</div>
                        <div class="span4 pull-center">{{userProfile.Interests || 'Interests informaton unavailable'}}</div>
                     </div>         
                    <div class="span8 pull-center">&nbsp;</div>
                    <div class="span8 pull-center">&nbsp;</div>
                    <div class="span8 pull-center">&nbsp;</div>                    
                    <div class="span8 pull-center">   
                        <div ng-repeat="quack in quacks">
                            <div class="media well span7" style="margin-top: -35px; background: white; border: none;">
                                                                
                                <div class="media-body">                                    
                                    <span style="color: slategray; font-family: candara; ">
                                        <strong> {{quack.TimeSpan}} </strong>
                                    </span>

                                    <!-- <a ng-show="quack.IsNew" style="color: green; font-size: 11px; text-decoration:none" ng-click="setQuackId(quack.Id, quack.Likes)" href="#quackUserLikes" data-toggle="modal" data-backdrop="false" class="pull-right">({{quack.Likes}}) Likes | ({{quack.Replies}}) Replies</a>-->

                                    <p style="font-family: arial;  font-size:12px;">
                                        <span highlight-tags callback-fn="onLinkClick" ng-model="quack.Message"></span>                                                                                
                                    </p>                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>                

            </div>            
</div>

<ng-include src="'../JSApplication/Templates/quackUserLikes.html'"></ng-include>
   